:root {
    --var-amarillo: #ffff00;
}
* {
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
  }
  
html{
    background: #f9fafb;
    padding: 1rem 5rem;
}

.back-amarillo:hover {
    background: var(--var-amarillo);
}

section, .logos {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

h1, h3, h4 {
    background-color: var(--var-amarillo);
    padding: 4px 8px;
    border-radius: 5rem;
}

h4 {
    border-radius: 0rem 0rem 1rem 1rem;
}

.back-LightGrey {
    background-color: rgba(211, 211, 211, 70%);
}

.back-Silver {
    background-color: rgba(192, 192, 192, 70%);
}

.back-DarkGray {
    background-color: rgba(169, 169, 169, 70%);
}

.back-DimGray {
    background-color: rgba(105, 105, 105, 70%);
}

.back-Yellow {
    background: var(--var-amarillo);
}

p:first-of-type {
    text-indent: 0px;
}

p {
    font-weight: normal;
    margin-bottom: 4px;
    text-indent: 4em;
}

.logos img {
    max-height: 256px;
    transform: scale(80%);
    transition: all 500ms ease-in-out;
    border-radius: 1rem;
}

.logos a {
    background: var(--var-amarillo);
    width: 256px;
    height: 256px;
    border-radius: 1rem;
    overflow: hidden;
    text-align: center;
    filter: grayscale(100%);
    transition: all 500ms ease-in-out;
}

.logos a:hover, .logos a:focus {
    filter: grayscale(0%);
    box-shadow: 0 0 0 15px var(--var-amarillo);
}

.logos a:hover img, .logos a:focus img {
    transform: scale(100%);
}

.w-100 {
    width: 100%;
}

input, textarea {
    margin: 0.5rem 0px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    font-weight: normal;
}

button {
    margin: 0.5rem 0px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid buttonface;
    width: fit-content;
}

button:hover {
    background-color: var(--var-amarillo);
    outline: 5px solid var(--var-amarillo);
    outline-offset: -3px;
}

:focus-visible {
    outline: 5px solid var(--var-amarillo);
    outline-offset: -3px;
}

#actividades {
    min-height: 200px;
}